<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haozai.plasma.cms.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.haozai.plasma.cms.entity.SysRole">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    <!--@Table sys_role-->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
    <result column="role_sort" jdbcType="INTEGER" property="roleSort" />
    <result column="data_scope" jdbcType="CHAR" property="dataScope" />
    <result column="menu_check_strictly" jdbcType="BOOLEAN" property="menuCheckStrictly" />
    <result column="dept_check_strictly" jdbcType="BOOLEAN" property="deptCheckStrictly" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    role_id, role_name, role_key, role_sort, data_scope, menu_check_strictly, dept_check_strictly, 
    `status`, del_flag, create_by, create_time, update_by, update_time, remark
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    update sys_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="role_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleKey,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="role_sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleSort,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="data_scope = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.dataScope,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="menu_check_strictly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.menuCheckStrictly,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="dept_check_strictly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.deptCheckStrictly,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.status,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="del_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.delFlag,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    update sys_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleName != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_key = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleKey != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleKey,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleSort != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.roleSort,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="data_scope = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dataScope != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.dataScope,jdbcType=CHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="menu_check_strictly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.menuCheckStrictly != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.menuCheckStrictly,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="dept_check_strictly = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deptCheckStrictly != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.deptCheckStrictly,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.status,jdbcType=CHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="del_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delFlag != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.delFlag,jdbcType=CHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateBy != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when role_id = #{item.roleId,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="role_id" keyProperty="roleId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    insert into sys_role
    (role_name, role_key, role_sort, data_scope, menu_check_strictly, dept_check_strictly, 
      `status`, del_flag, create_by, create_time, update_by, update_time, remark)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleName,jdbcType=VARCHAR}, #{item.roleKey,jdbcType=VARCHAR}, #{item.roleSort,jdbcType=INTEGER}, 
        #{item.dataScope,jdbcType=CHAR}, #{item.menuCheckStrictly,jdbcType=BOOLEAN}, #{item.deptCheckStrictly,jdbcType=BOOLEAN}, 
        #{item.status,jdbcType=CHAR}, #{item.delFlag,jdbcType=CHAR}, #{item.createBy,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="role_id" keyProperty="roleId" parameterType="com.haozai.plasma.cms.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      role_name,
      role_key,
      role_sort,
      data_scope,
      menu_check_strictly,
      dept_check_strictly,
      `status`,
      del_flag,
      create_by,
      create_time,
      update_by,
      update_time,
      remark,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      #{roleName,jdbcType=VARCHAR},
      #{roleKey,jdbcType=VARCHAR},
      #{roleSort,jdbcType=INTEGER},
      #{dataScope,jdbcType=CHAR},
      #{menuCheckStrictly,jdbcType=BOOLEAN},
      #{deptCheckStrictly,jdbcType=BOOLEAN},
      #{status,jdbcType=CHAR},
      #{delFlag,jdbcType=CHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      role_name = #{roleName,jdbcType=VARCHAR},
      role_key = #{roleKey,jdbcType=VARCHAR},
      role_sort = #{roleSort,jdbcType=INTEGER},
      data_scope = #{dataScope,jdbcType=CHAR},
      menu_check_strictly = #{menuCheckStrictly,jdbcType=BOOLEAN},
      dept_check_strictly = #{deptCheckStrictly,jdbcType=BOOLEAN},
      `status` = #{status,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="role_id" keyProperty="roleId" parameterType="com.haozai.plasma.cms.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated generated on Wed Jan 05 16:11:20 CST 2022.-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleKey != null">
        role_key,
      </if>
      <if test="roleSort != null">
        role_sort,
      </if>
      <if test="dataScope != null">
        data_scope,
      </if>
      <if test="menuCheckStrictly != null">
        menu_check_strictly,
      </if>
      <if test="deptCheckStrictly != null">
        dept_check_strictly,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        #{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null">
        #{roleSort,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        #{dataScope,jdbcType=CHAR},
      </if>
      <if test="menuCheckStrictly != null">
        #{menuCheckStrictly,jdbcType=BOOLEAN},
      </if>
      <if test="deptCheckStrictly != null">
        #{deptCheckStrictly,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        role_key = #{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleSort != null">
        role_sort = #{roleSort,jdbcType=INTEGER},
      </if>
      <if test="dataScope != null">
        data_scope = #{dataScope,jdbcType=CHAR},
      </if>
      <if test="menuCheckStrictly != null">
        menu_check_strictly = #{menuCheckStrictly,jdbcType=BOOLEAN},
      </if>
      <if test="deptCheckStrictly != null">
        dept_check_strictly = #{deptCheckStrictly,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>